.services-section{
    background-color: #1A3636;
    /* padding: 100px 0; */
    width: 100%;
    height: 100vh;
    position: relative;
  
}

.services-section .ship{
    width: 184px;
    height: 184px;
    border-radius: 50%;
    background-color: #40534C;
    position: absolute;
    top: 120px;
    left: 20px;

}
.services-section .ship2{
    width: 223px;
    height: 223px;
    border-radius: 50%;
    background-color: #D6BD98;
    position: absolute;
    bottom: 100px;
    right: 60px;
    z-index: 10;
  

}
/* media query */

@media screen and (max-width: 768px) {
    .services-section{
        width: 100%;
        height: 200vh;
        /* padding: 100px 0; */
    }

    .services-section .ship{
        width: 118px;
        height: 118px;
        /* top: ; */
        left: 20px;
    
    }
    .services-section .ship2{
        width: 148px;
        height: 148px;
        bottom: 25px;
        right: 60px;
    }
    }